body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
}

header {
    background-color: grey;
    display: flex;
    justify-content: center;
}

footer {
    background-color: grey;
    display: flex;
    justify-content: center;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    display: flex;
    justify-content: center;
}