body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 200px;
}

header {
    background-color: grey;
    display: flex;
    justify-content: center;
}

footer {
    background-color: grey;
    display: flex;
    justify-content: center;
}

.computerCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.playerCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}